@import 'bootstrap/dist/css/bootstrap.min.css';


/* ======= FONTS ======= */
:root {
    --font-f: "Fira Sans Condensed", sans-serif;
}


/* ====== NAVBAR ====== */

.navbar {
    text-transform: uppercase;
    font-family: var(--font-f);
    font-weight: 600;
    font-style: normal;
    color: #50504E;
}

.nav-link:hover, .nav-link:focus, .nav-link.active {
    border-bottom: 5px solid #067DF0;
}

.navbar-logo {
    width: 40px;
    aspect-ratio: 1/1;
}

/* ====== FOOTER ====== */

.footer-main-block-container {
    background-image: url('../images/footer-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 350px;
}

footer {
    font-family: var(--font-f);
}

footer p {
    font-weight:700;
    font-size: small;
    color:aliceblue
}

footer a {
    font-size: smaller;
    color: rgb(154, 162, 162);
    text-decoration: none;
}

.logo-img {
    max-height: 390px;
    position: absolute;
    right: 0; 
    top: 50%;                    /* Centra il punto superiore al 50% dell'altezza */
    transform: translateY(-50%); /* Trasla il logo verso l'alto del 50% della SUA altezza per centrarlo perfettamente */
}

/*==== card ====*/
.card img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 2/3;
    object-position: top;
}